<div class="container-listing-pos-section">

    <div class="container-listing-pos-header flex gap-2 justify-between items-center py-2 px-5 shadow bg-white">

        <div class="flex flex-1 items-center font-medium">
            <div class="flex items-center whitespace-nowrap">
                <mat-icon class="text-gray-600 icon-size-4.5" matPrefix [svgIcon]="'heroicons_solid:home'"></mat-icon>
            </div>
            <div class="flex items-center ml-1 whitespace-nowrap">
                <mat-icon class="icon-size-4.5 text-gray-600" [svgIcon]="'heroicons_solid:chevron-right'">
                </mat-icon>
                <span class="ml-1 text-gray-600">ការកក់</span>
            </div>
        </div>

        <!-- <div class="flex items-center gap-2">
            <div class="custom-botton-flat">
                <button class="min-w-26 max-w-26 rounded-md bg-blue-400 px-1" mat-flat-button [routerLink]="['/pos']">
                    <mat-icon class="icon-size-7" [svgIcon]="'heroicons_outline:plus-circle'"></mat-icon>
                    <span class="pl-1"> បញ្ជាទិញថ្មី</span>
                </button>
            </div>
        </div> -->

    </div>

    <div class="container-listing-pos-body px-3 pt-3">
        <div class="container-listing-pos-content border rounded-lg">

            <div class="container-listing-pos-data">

                <!-- ================================================================================>> Filter -->
                <div class="sub-header-content flex gap-3 w-full justify-end items-center px-3">

                    <div class="flex justify-start gap-3">
                        <div class="custom-select-header icon-date hidden md:flex">
                            <mat-form-field appearance="outline" class="min-w-44 max-w-44">
                                <input matInput [matDatepicker]="startdate" id="inputSearch" [(ngModel)]="from"
                                    placeholder="ចាប់ពី">
                                <mat-datepicker-toggle matSuffix [for]="startdate">
                                    <mat-icon class="text-secondary" [svgIcon]="'mat_outline:today'"></mat-icon>
                                </mat-datepicker-toggle>
                                <mat-datepicker #startdate></mat-datepicker>
                            </mat-form-field>
                        </div>
                        <div class="custom-select-header icon-date hidden md:flex mr-2">
                            <mat-form-field appearance="outline" class="min-w-44 max-w-44">

                                <input matInput [matDatepicker]="enddate" id="inputSearch" [(ngModel)]="to"
                                    placeholder="ដល់">
                                <mat-datepicker-toggle matSuffix [for]="enddate">
                                    <mat-icon class="text-secondary" [svgIcon]="'mat_outline:event'"></mat-icon>
                                </mat-datepicker-toggle>
                                <mat-datepicker #enddate></mat-datepicker>
                            </mat-form-field>
                        </div>

                    </div>
                    <div class="custom-botton-flat hidden sm:flex">
                        <div class="custom-select-header mr-2">
                            <mat-form-field appearance="outline" class="min-w-60 max-w-60">
                                <input matInput type="text" (keyup.enter)="getData()" [(ngModel)]="receiptNumber"
                                    placeholder="ស្វែងរក ( លេខវិក្កយបត្រ )">
                            </mat-form-field>
                        </div>

                        <button class="min-w-10 max-w-10 rounded-full bg-gray-200" mat-icon-button
                            (click)=" getData() ">
                            <mat-icon class="icon-size-7" svgIcon="mat_solid:search"></mat-icon>
                        </button>

                    </div>
                </div>

                <!-- ================================================================================>> Display Data -->
                <!-- =================================>> Is Loading -->
                <ng-container *ngIf=" isLoading ">
                    <div class="min-w-26 w-full flex flex-col items-center overflow-hidden min-h-30 p-2 mt-6">
                        <p class="text-xl mb-4">សូមរងចាំ! កំពុងទាញទិន្នន័យ</p>
                        <div class="lds-spinner">
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                    </div>
                </ng-container>

                <!-- =================================>> No Data -->
                <ng-container *ngIf=" data?.length == 0 && !isLoading ">

                    <div class="flex flex-col justify-center items-center mb-4">
                        <mat-icon class="icon-size-24" svgIcon="toc"></mat-icon>
                        <span class="text-2xl"><span>គ្មានទិន្នន័យ</span></span>
                    </div>

                </ng-container>

                <!-- =================================>> Having Data -->
                <div class="sub-data-scrollbar hidden" scrollbar="true"
                    [ngClass]="{'flex-custom': data?.length > 0  && !isLoading}">

                    <table mat-table [dataSource]="dataSource">

                        <!-- Row Number -->
                        <ng-container matColumnDef="no">
                            <th mat-header-cell *matHeaderCellDef class="text-center">ល.រ</th>
                            <td mat-cell *matCellDef="let row; let i = index" class="text-center">{{ i + 1 }}</td>
                        </ng-container>

                        <!-- Receipt Number -->
                        <ng-container matColumnDef="receipt_number">
                            <th mat-header-cell *matHeaderCellDef>លេខវិក្កយបត្រ</th>
                            <td mat-cell *matCellDef="let row">{{ row?.receipt_number }}</td>
                        </ng-container>

                        <!-- Customer Name -->
                        <ng-container matColumnDef="user_name">
                            <th mat-header-cell *matHeaderCellDef>អតិថិជន</th>
                            <td mat-cell *matCellDef="let row">{{ row?.user_name }}</td>
                        </ng-container>

                        <!-- City -->
                        <ng-container matColumnDef="city_name">
                            <th mat-header-cell *matHeaderCellDef>ទីក្រុង</th>
                            <td mat-cell *matCellDef="let row">{{ row?.city_name }}</td>
                        </ng-container>

                        <!-- Price -->
                        <ng-container matColumnDef="price">
                            <th mat-header-cell *matHeaderCellDef>តម្លៃ</th>
                            <td mat-cell *matCellDef="let row">{{ row?.price }} $</td>
                        </ng-container>

                        <!-- Trip Days -->
                        <ng-container matColumnDef="trip_days">
                            <th mat-header-cell *matHeaderCellDef>ចំនួនថ្ងៃ</th>
                            <td mat-cell *matCellDef="let row">{{ row?.trip_days }} ថ្ងៃ</td>
                        </ng-container>

                        <!-- Guests -->
                        <ng-container matColumnDef="num_of_guests">
                            <th mat-header-cell *matHeaderCellDef>អ្នកធ្វើដំណើរ</th>
                            <td mat-cell *matCellDef="let row">{{ row?.num_of_guests }} នាក់</td>
                        </ng-container>

                        <!-- Phone -->
                        <ng-container matColumnDef="phone_number">
                            <th mat-header-cell *matHeaderCellDef>ទូរស័ព្ទ</th>
                            <td mat-cell *matCellDef="let row">{{ row?.phone_number }}</td>
                        </ng-container>

                        <!-- Check-in Date -->
                        <ng-container matColumnDef="checkin_date">
                            <th mat-header-cell *matHeaderCellDef>ថ្ងៃកក់</th>
                            <td mat-cell *matCellDef="let row">{{ row?.checkin_date | date: 'dd-MM-yyyy hh:mm a' }}</td>
                        </ng-container>

                        <!-- Actions -->
                        <ng-container matColumnDef="action" stickyEnd>
                            <th mat-header-cell *matHeaderCellDef></th>
                            <td mat-cell *matCellDef="let row">
                                <button mat-icon-button [matMenuTriggerFor]="menu">
                                    <mat-icon svgIcon="mat_outline:more_vert"></mat-icon>
                                </button>
                                <mat-menu #menu="matMenu">
                                    <button mat-menu-item (click)="view(row)">
                                        <mat-icon svgIcon="heroicons_outline:eye" class="text-blue-500"></mat-icon>
                                        <span class="text-blue-500">មើល</span>
                                    </button>
                                    <button mat-menu-item (click)="print(row.receipt_number)">
                                        <mat-icon svgIcon="heroicons_outline:printer" class="text-blue-500"></mat-icon>
                                        <span class="text-blue-500">ទាញយកវិក្កយបត្រ</span>
                                    </button>
                                    <button mat-menu-item (click)="delete(row.receipt_number)">
                                        <mat-icon svgIcon="heroicons_outline:trash" class="text-red-500"></mat-icon>
                                        <span class="text-red-500">លុប</span>
                                    </button>
                                </mat-menu>
                            </td>
                        </ng-container>


                        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true" class="bg-blue-400 -pr-2">
                        </tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>

                </div>

            </div>

            <div class="container-listing-pos-paginator hidden min-h-11 max-h-11"
                [ngClass]="{'flex-custom': data?.length > 0  && !isLoading }">
                <mat-paginator
                    class="w-full bg-gray-50 dark:bg-black dark:bg-opacity-5 flex items-center justify-end overflow-hidden"
                    [pageSizeOptions]="[10, 20, 30]" [showFirstLastButtons]="true" [length]="total" [pageSize]="limit"
                    (page)="onPageChanged($event)">
                </mat-paginator>
            </div>

        </div>
    </div>

</div>