<div class="flex items-start sm:items-center mx-auto min-w-full overflow-y-hidden">
    <!-- ==============================================>> Login Form -->
    <div class="background w-full md:w-2/12 md:min-w-120">
        <div
            class="max-w-120 md:max-w-90 min-h-full m-auto p-2 pt-18 sm:h-full rounded-3xl flex flex-col justify-between h-full">
            <!-- Top content: Logo, title, and form -->
            <div>
                <div class="flex flex-col justify-center items-center">
                    <img class="w-32 md:w-40 mb-4" src="assets/images/logo/logo.png" alt="image">
                    <p class="text-4xl text-blue-800 font-bold text-center">ប្រព័ន្ធគ្រប់គ្រងការធ្វើដំណើរ</p>
                    <p class="text-2xl text-blue-700 font-bold text-center">Tour Management System</p>
                    <p class="text-3xl text-black text-center mt-14">ចូលគណនីរបស់អ្នក</p>
                </div>

                <!-- Sign in form -->
                <form class="mt-8 custom-form" [formGroup]="logInForm">
                    <!-- Username field -->
                    <mat-form-field appearance="outline" class="w-full mb-6">
                        <mat-label>លេខទូរស័ព្ទ ឬ Email</mat-label>
                        <input id="username" matInput [formControlName]="'username'">
                        <mat-icon class="mr-2" matSuffix svgIcon="mat_outline:smartphone"></mat-icon>
                        <mat-error class="min-h-6 mt-2.5 text-sm" *ngIf="logInForm.get('username').hasError('email')">
                            សូមបញ្ចូលEmail XXXXXXX
                        </mat-error>
                    </mat-form-field>

                    <!-- Password field -->
                    <mat-form-field appearance="outline" class="w-full mb-6">
                        <mat-label>លេខសម្ងាត់</mat-label>
                        <input id="password" matInput type="password" [formControlName]="'password'" #passwordField>
                        <button mat-icon-button type="button" class="-top-0.5"
                            (click)="passwordField.type === 'password' ? passwordField.type = 'text' : passwordField.type = 'password'"
                            matSuffix>
                            <mat-icon class="icon-size-5" *ngIf="passwordField.type === 'password'"
                                [svgIcon]="'heroicons_solid:eye-off'"></mat-icon>
                            <mat-icon class="icon-size-5" *ngIf="passwordField.type === 'text'"
                                [svgIcon]="'heroicons_solid:eye'"></mat-icon>
                        </button>
                        <mat-error class="min-h-6 mt-2.5 text-sm">
                            សូមបញ្ចូលលេខសម្ងាត់
                        </mat-error>
                    </mat-form-field>

                    <!-- Submit button -->
                    <button class="w-full mt-6 py-6 rounded-md custom-button" mat-flat-button
                        [disabled]="logInForm.invalid || isLoading" (click)="login()">
                        <span *ngIf="!isLoading" class="text-lg">ចូលប្រព័ន្ធ</span>
                        <mat-progress-spinner *ngIf="isLoading" [diameter]="24"
                            [mode]="'indeterminate'"></mat-progress-spinner>
                    </button>
                </form>
            </div>

            <!-- Bottom paragraph (footer-style) -->
            <div class="mt-10 text-center">
                <p class="text-base md:text-lg text-gray-700 max-w-xl">
                    អភិវឌ្ឍឡើងដើម្បីគ្រប់គ្រងសេវាកម្មទេសចរណ៍ឱ្យមានប្រសិទ្ធភាព និងងាយស្រួលប្រើប្រាស់
                </p>
            </div>
        </div>
    </div>



    <!-- ==============================================>> Login Banner -->
    <div
        class="relative hidden md:flex flex-auto w-10/12 h-full overflow-hidden justify-center items-center bg-gradient-to-r from-sky-200 to-teal-100 p-4 rounded-lg shadow-md">
        <!-- Background Image -->
        <img class="h-[500px] w-[500px] object-contain z-0 opacity-90" src="assets/images/backgrounds/tourism.png"
            alt="Travel Icon">

        <!-- Foreground Content -->
        <div class="absolute z-10 text-center text-gray-800 custom-position">
            <!-- Optional Logo -->
            <!-- <div class="mb-4">
                <img src="assets/images/logo/pos-none-text.png" alt="Logo" class="mx-auto w-24">
            </div> -->

            <!-- Heading -->
            <!-- <h1 class="text-4xl font-bold mb-2">ប្រព័ន្ធគ្រប់គ្រងការធ្វើដំណើរ</h1> -->

        </div>
    </div>


</div>